.navbar{
   padding: 20px 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;  
   z-index: 100;
   background: #ffffff7a;
   backdrop-filter: blur(20px);
   transition: top 0.3s ease-in-out;
}

.navbar .logo {
   width: 150px;
}

.navbar-menu{
   display: flex;
   gap: 20px;
   font-size: 18px;
   color: #49557e;
   list-style: none;
   text-transform: capitalize;
}

.navbar li{
   cursor: pointer;
}

.navbar-right{
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar button{
   padding: 10px 30px;
   font-size: 16px;
   color: #49557e;
   background-color: transparent;
   border: 1px solid tomato;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s;
   outline: none;
}

.navbar .active{
   padding-bottom: 2px;
   border-bottom: 2px solid #49557e;
}

.navbar button:hover{
   background-color: #fff4f2;
}

.navbar-search-icon{
   position: relative;
}

.navbar-search-icon .dot{
   position: absolute;
   top: -8px;
   right: -8px;
   min-width: 10px;
   min-height: 10px;
   background-color: tomato;
   border-radius: 50px;
}

@media (max-width: 1050px) {
   .navbar .logo {
      width: 140px;
   }
   
   .navbar-menu {
      font-size: 17px;
      gap: 20px;
   }

   .navbar-right{
      gap: 30px;
   }

   .navbar-right img{
      width: 22px;
   }

   .navbar-right{
      padding: 8px 25px;
   }
}

@media (max-width: 900px) {
   .navbar .logo {
      width: 120px;
   }
   
   .navbar-menu {
      font-size: 16px;
      gap: 15px;
   }

   .navbar-right{
      gap: 20px;
   }

   .navbar-right img{
      width: 20px;
   }

   .navbar-right{
      padding: 7px 20px;
      font-size: 15px;
   }
}

@media (max-width: 800px) {
   .navbar-menu {
      display: none;
   }
}

.hidden {
   top: -200px;
 }
 
 .visible {
   top: 0;
 }

.loading-icon{
   width: 25px;
   height: 25px;
}

.user-icon{
   width: 36px;
   cursor: pointer;
}
